# {{ ansible_managed }}

# SSH Port
Port {{ security_settings.ssh_port }}

# Authentication settings
PermitRootLogin {{ security_settings.ssh_config.permit_root_login }}
PasswordAuthentication {{ security_settings.ssh_config.password_authentication }}
X11Forwarding {{ security_settings.ssh_config.x11_forwarding }}
MaxAuthTries {{ security_settings.ssh_config.max_auth_tries }}
Protocol {{ security_settings.ssh_config.protocol }}

# Security
UsePAM yes
PrintMotd no

# Environment
AcceptEnv LANG LC_*

# SFTP configuration
Subsystem sftp {{ security_settings.paths.sftp_server[ansible_os_family] }}