# {{ ansible_managed }}

# SSH Port
Port {{ security_settings.ssh.port }}

# Authentication settings
PermitRootLogin {{ security_settings.ssh.permit_root_login }}
PasswordAuthentication {{ security_settings.ssh.password_authentication }}
X11Forwarding {{ security_settings.ssh.x11_forwarding }}
MaxAuthTries {{ security_settings.ssh.max_auth_tries }}
PubkeyAuthentication {{ security_settings.ssh.pubkey_authentication }}
AuthorizedKeysFile {{ security_settings.ssh.authorized_keys_file }}

# Security
UsePAM yes
PrintMotd no

# Environment
AcceptEnv LANG LC_*

# SFTP configuration
Subsystem sftp internal-sftp

# Logging
SyslogFacility AUTH
LogLevel INFO